body {
	box-sizing: border-box;
	margin: auto;
	max-width: 1256px;
}

#numbers {
	background-color: orange;
	width: 140px;
}

#counting1 {
	background-color: maroon;
	width: 795px;
}

#colors {
	background-color: green;
	width: 124px;
}

h1 {
	margin-left: 10px;
}

h2 {
	margin: 0px 10px;
	padding-left: 5px;
	border-radius: 2px 15px 15px 0px;
	text-transform: uppercase;
	color: white;
	overflow: auto;
}

th, td {
	border: 1px black solid;
	padding: 2px 8px;
	margin: 0px;
}

table {
	float: left;
	margin: 0px 10px 20px;
	text-align: center;
	border-collapse: collapse;
}

td {
	text-align: left;
	padding: 2px 8px;
}

td:first-child {
	font-weight: bold;
}

.float-left {
	float:left;
}

.no-float {
	float: none;
}